{% extends 'store/main.html' %} {% load static %} {% block content %}
<div class="row">
  {% for product in products %}
  <div class="col-lg-4">
    <img class="thumbnail" src="{{ product.imageURL }}" />
    <div class="box-element product">
      <h6><strong>{{ product.name }}</strong></h6>
      <hr />

      <button
        data-product="{{ product.id }}"
        data-action="add"
        class="btn btn-outline-secondary add-btn update-cart"
      >
        Add to Cart
      </button>

      <a
        class="btn btn-outline-success"
        href="#product-details-{{ product.id }}"
        >View</a
      >

      <h4 style="display: inline-block; float: right">
        <strong>₹{{ product.price }}</strong>
      </h4>

      <div id="product-details-{{ product.id }}" style="display: none">
        <!-- Additional product details go here -->
        <p>Description: {{ product.description }}</p>
        <p>Category: {{ product.category }}</p>
        <!-- Add more details as needed -->
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
